  <footer id="footer" >
    <div class="" style="position:relative; bottom:0;" >
      <a href="https://twitter.com/" style="color:black;">
        <i class="social-icon fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/va_asu_/" style="color:black;">
        <i class="social-icon fab fa-instagram fa-2x"></i>
      </a>
      <a href="mailto:vsdvprmr@gmail.com" style="color:black;">
        <i class="social-icon fas fa-envelope fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/vasudev-parmar-699a77191/" style="color:black;">
        <i class="social-icon fab fa-linkedin fa-2x"></i>
      </a>

      <p>© Copyright 2021 MANITora</p>
    </div>
  </footer>
  </body>
</html>
